//main color
$normalBlue:#21539B;
$hoverBlue:#3567C3;
$clickBlue:#0D357D;
$disableBlue:#21539B;//Alpha=40%

//text color
$buttonTextBlue:#21539B;
$textBlue:#435068;//主要文字色，常用于标题文字/列表内容区文字
$infoBlue:#869ABB;//辅助信息文字色，常用于默认信息/列表表头等。
$tipsBlue:#435068;//提示类文字色,Alpha=40%

//background color